@import "../../assets/fonts/Southwest/stylesheet.css";

.font-SWBlack {
	font-family: 'SouthwestSansW01-Black', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight:900;
}

.font-SWBold {
	font-family: 'SouthwestSansW01-Bold', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight:800;
}

.font-SWMed {
	font-family: 'SouthwestSansW01-Bold', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight:600;
}

.font-SWReg {
	font-family: 'SouthwestSansW01-Regular', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight:400;
}

.font-SWLight {
	font-family: 'SouthwestSansW01-Light', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight:200;
}

.italic {
	font-style: italic;
}

h1 {
	font-size: 100px;
	line-height: 120px;
}

h2 {
	font-size: 80px;
	line-height: 92px;
}

h3 {
	font-size: 60px;
	line-height: 72px;
}

.p1, .p2 {
	padding-right: 20%;
}

.p3 {
	font-size: 15px;
	line-height: 1.8;
	color: #666;
	margin-top: 3em;
}

#typography {
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
		letter-spacing:-.03em;
  }
  p {
  	font: 16px/2 "SouthwestSansW01-Regular";
  	margin: 2em 0;
  }
}
